!!!5
%html
  %head
    %meta{ :charset => 'utf-8' }
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title ESV Bible | formatted by John Wilson
    
    = stylesheet_link_tag 'application'

  %body
    = yield
