// *************************************
//
//   Grid
//   -> App-wide layout and scaffolding
//
// *************************************

.reader
  @extend .borderBox
  background: darken($c-white,2%)
  margin: 2em auto 0
  max-width: 45em
  outline: none
  overflow: hidden
  padding: 3em 3.5em
