// *************************************
//
//   Grid
//   -> App-wide layout and scaffolding
//
// *************************************

.grid

.grid-wrap

.grid-wrap--full
  @extend .borderBox
  background: $c-white
  border-left: 5px $c-border solid
  border-right: 5px $c-border solid
  margin: 0 auto
  max-width: 850px
  padding: 30px 75px

.grid-wrap--half
