.logo ESV Bible <span>formatted by John Wilson</span>

/ %form.navigation{:action => ""} 
/   %select{ :name => "question[question_status]" }
/     %option{:value => 1}= "Matthew"
/     %option{:value => 2}= "Mark"
/     %option{:value => 1}= "Luke"
/     %option{:value => 2}= "John"
