= partial "header"
%h1 Matthew
%h5 Chapter 1

%article
  %p
    <sup>1</sup>The book of the genealogy of Jesus Christ, the son of David, the son of Abraham.
  %p
    <sup>2</sup>Abraham was the father of Isaac, and Isaac the father of Jacob, and Jacob the father of Judah and his brothers,
    <sup>3</sup>and Judah the father of Perez and Zerah by Tamar, and Perez the father of Hezron, and Hezron the father of Ram,
    <sup>4</sup>and Ram the father of Amminadab, and Amminadab the father of Nahshon, and Nahshon the father of Salmon,
    <sup>5</sup>and Salmon the father of Boaz by Rehab, and Boaz the father of Obed by Ruth, and Obed the father of Jesse,
    <sup>6</sup>and Jesse the father of David the king.
  %p
    And David was the father of Solomon by the wife of Uriah,
    <sup>7</sup>and Solomon the father of Rehoboam, and Rehoboam the father of Abijah, and Abijah the father of Asaph,
    <sup>8</sup>and Asaph the father of Jehoshaphat, and Jehoshaphat the father of Joram, and Joram the father of Uzziah,
    <sup>9</sup>and Uzziah the father of Jotham, and Jotham the father of Ahaz, and Ahaz the father of Hezekiah,
    <sup>10</sup>and Hezekiah the father of Manasseh, and Manasseh the father of Amos, and Amos the father of Josiah,
    <sup>11</sup>and Josiah the father of Jechoniah and his brothers, at the time of the deportation to Babylon.
  %p
    <sup>12</sup>And after the deportation to Babylon: Jechoniah was the father of Shealtiel, and Shealtiel teh father of Zerubbabel,
    <sup>13</sup>and Zerubbabel the father of Abiud, and Abiud teh father of Eliakim, and Eliakim the father of Azor,
    <sup>14</sup>and Azor the father of Zadok, and Zadok the father of Achim, and Achim the father of Eliud,
    <sup>15</sup>and Eliud the father of Eleazar, and Eleazar the father of Matthan, and Matthan the father of Jacob,
    <sup>16</sup>and Jacob the father of Joseph the husband of Mary, of whom Jesus was born, who is called Christ.
