= partial "header"
%h1 Matthew
%h2 Chapter 1

%article
  %h3 The Genealogy of Jesus Christ
  %section
    %p
      <sup>1</sup>The book of the genealogy of Jesus Christ, the son of David, the son of Abraham.
    %p
      <sup>2</sup>Abraham was the father of Isaac, and Isaac the father of Jacob, and Jacob the father of Judah and his brothers,
      <sup>3</sup>and Judah the father of Perez and Zerah by Tamar, and Perez the father of Hezron, and Hezron the father of Ram,
      <sup>4</sup>and Ram the father of Amminadab, and Amminadab the father of Nahshon, and Nahshon the father of Salmon,
      <sup>5</sup>and Salmon the father of Boaz by Rehab, and Boaz the father of Obed by Ruth, and Obed the father of Jesse,
      <sup>6</sup>and Jesse the father of David the king.
    %p
      And David was the father of Solomon by the wife of Uriah,
      <sup>7</sup>and Solomon the father of Rehoboam, and Rehoboam the father of Abijah, and Abijah the father of Asaph,
      <sup>8</sup>and Asaph the father of Jehoshaphat, and Jehoshaphat the father of Joram, and Joram the father of Uzziah,
      <sup>9</sup>and Uzziah the father of Jotham, and Jotham the father of Ahaz, and Ahaz the father of Hezekiah,
      <sup>10</sup>and Hezekiah the father of Manasseh, and Manasseh the father of Amos, and Amos the father of Josiah,
      <sup>11</sup>and Josiah the father of Jechoniah and his brothers, at the time of the deportation to Babylon.
    %p
      <sup>12</sup>And after the deportation to Babylon: Jechoniah was the father of Shealtiel, and Shealtiel teh father of Zerubbabel,
      <sup>13</sup>and Zerubbabel the father of Abiud, and Abiud teh father of Eliakim, and Eliakim the father of Azor,
      <sup>14</sup>and Azor the father of Zadok, and Zadok the father of Achim, and Achim the father of Eliud,
      <sup>15</sup>and Eliud the father of Eleazar, and Eleazar the father of Matthan, and Matthan the father of Jacob,
      <sup>16</sup>and Jacob the father of Joseph the husband of Mary, of whom Jesus was born, who is called Christ.
    %p
      <sup>17</sup>So all the generations from Abraham to David were fourteen generations, and from David to the deportation to Babylon fourteen generations, and from the deportation to Babylon to the Christ fourteen generations.

  %h3 The Birth of Jesus Christ
  %section    
    %p
      <sup>18</sup>Now the birth of Jesus Christ took place in the way. When his mother Mary had been betrothed to Joseph, before they came together she was found to be with child from the Holy Spirit.
      <sup>19</sup>And her husband Joseph, being a just man and unwilling to put her to shame, resolved to divorce her quietly.
      <sup>20</sup>But as he considered these things, behold, and angle of the Lord appeared to him in a dream, saying "Joseph, son of David, do not fear to take Mary as your wife, for that which is conceived in her is from the Holy Spirit.
      <sup>21</sup>She will bear a son, and you shall call his name Jesus, for he will save his people from their sins."
      <sup>22</sup>All this took place to fulfill what the Lord had spoken by the prophet:
    %blockquote
      <sup>23</sup>"Behold, the virgin shall conceive and bear a son,
      %br/
      and they shall call his name Immanuel"
    %p 
      (which means, God with us).
      <sup>24</sup>When Joseph woke from sleep, he did as the angel of the Lord commanded him: he took his wife,
      <sup>25</sup>but knew her not until she had given birth to a son. And he called his name Jesus.

%h2 Chapter 2
%article 
  %h3 The Visit of the Wise Men
  %section
    %p
      <sup>1</sup>Now after Jesus was born in Bethlehem of Judea in the days of Herod the king, behold, wise men from the east came to Jerusalem,
      <sup>2</sup>saying, "Where is he who has been born king of the Jews? For we saw his star when it rose and have come to worship him."
